.headerAbout {
    width: 95%;
    margin-inline: auto;
}

.mainAbout {
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 19px;
    gap: 20px;
  
    
    @media screen and (min-width: 768px) {
        width: 80%;
        margin-top: 38px;
        margin-bottom: 38px;
        gap: 30px;
    }

}