@import "../../sass/utils/variables.scss";

.header {
    height: 46.9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
    margin-top: 20px;
    width: 100%;

    @media screen and (min-width: 768px) {
        margin-top: 45px;
        margin-bottom: 50px;
        margin-inline: auto;
    }

    img {
        height: 46px;

        @media screen and (min-width:768px) {
            width: 210.322px;
            height: 68px;
        }
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 26px;
            flex: 1 0 0;

            @media screen and (min-width: 768px) {
                gap: 57px;
            }

            li {
                a {
                    width: 50%;
                    height: 17px;
                    line-height: 17px;
                    font-size: 12px;
                    color: #000;
                    text-align: right;
                    font-family: $font-primary;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 142.6%;

                    @media screen and (min-width: 768px) {
                        font-size: 24px;
                    }

                    &:hover {
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
    }
}