@import "../../sass/utils/variables";

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.headerHome {

    margin-inline: auto;
    width: 95%;
}

.mainHome {

    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-inline: auto;
    width: 95%;

    @media screen and (min-width: 768px) {
        background-color: #F6F6F6;
        border-radius: 25px;
        width: 95%;

    }

    .cardHome {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 50px 0;
            gap: 50px;
            margin-inline: auto;
        }

    }

}