.host {

  .name {

    display: flex;
    width: 93px;
    height: 33px;
    gap: 10.5px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    align-items: flex-start;
    justify-content: flex-end;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      align-items: center;
    }

    @media screen and (min-width: 1024px) {
      gap: 24px;
      font-size: 24px;
    }

    img {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      fill: #C4C4C4;
      border-radius: 50%;

      @media screen and (min-width: 768px) {
        width: 45px;
        height: 45px;
      }

      @media screen and (min-width: 1024px) {
        width: 64px;
        height: 64px;
      }
    }
  }
}