.about {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-inline: auto;
    width: 89.26vw;

    @media screen and (min-width: 768px) {

        margin-top: 30px;
    }

    .collapsed {
        display: none;

    }

    .collapse {

        display: inline-flex;
        width: 89.26vw;
        height: 30px;
        padding: 10px 10px 10px 10px;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        background: var(--Red, #FF6060);

        @media screen and (min-width: 768px) {

            height: 52px;
            width: 75vw;
        }

        @media screen and (min-width: 1440px) {
            display: flex;
            width: 582px;
            
            padding: 10px 20px 10px 10px;
            align-items: center;
        }

        span {

            color: #FFF;
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 142.6%;

            @media screen and (min-width: 768px) {
                font-size: 24px;
            }
        }

        .up_down {

            transform: rotate(180deg);

        }

        .up {
            color: white;
            font-size: 24px;


            @media screen and (min-width: 768px) {
                font-size: 48px;
            }
        }


    }

    .text {
        width: 89.26vw;
        height: auto;
        opacity: 1;
        overflow: hidden;


        @media screen and (min-width: 768px) {
            width: 75vw;
        }

        .description {
            padding: 10px;
            border-radius: 5px;
            background: var(--Gray, rgba(214, 240, 211, 0.45));
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.6%;
            margin: 0;
            text-align: left;
            height: auto;
            


            

        }
    }


}