@import "../../sass/utils/variables.scss";

.footer {
    margin-top: 27px;
    display: flex;
    width: 100vw;
    height: 209px;
    background-color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}