@import '../../sass/utils/variables';

.headerAbout {
    width: 95%;
    margin-inline: auto;
}

.error {
    display: flex;
    width: 95%;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 113px;
    margin-inline: auto;

    @media screen and (min-width: 768px) {
        gap: 139px;
        padding-top: 40px;
        
    }


    h1 {
        color: #FF6060;
        text-align: center;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.6%;
        display: flex;
        width: 198px;
        height: 99px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;

        @media screen and (min-width: 768px) {
            width: 597px;
            height: 263px;
            font-size: 288px;
        }
    }

    p {
        width: 95%;
        color: #FF6060;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;

        @media screen and (min-width: 768px) {

            font-size: 36px;
            width: 95%;

        }
    }

    a {
        width: 221px;
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
        text-decoration-line: underline;
        text-align: center;

        @media screen and (min-width: 768px) {
            
            font-size: 18px;
            width: 284px;
           
            
        }
    }
}